@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}

/* Safe area insets for mobile devices */
.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.safe-area-inset-top {
  padding-top: env(safe-area-inset-top, 0);
}

html {
  color-scheme: light !important;
}

.safe-area-inset-left {
  padding-left: env(safe-area-inset-left, 0);
}

.safe-area-inset-right {
  padding-right: env(safe-area-inset-right, 0);
}

/* Make sure main content has bottom padding for the fixed nav */
.main-content-with-bottom-nav {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom, 0));
}

/* Hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
